.register-container{
    width: 50%;
}

.register-login-link{
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}
.register-login-link:hover{
    color: black;
}

@media screen and (max-width: 768px) {
    .register-container{
        width: 80%;
    }
}