.google-btn{
    background-color: rgba(255, 166, 0, 0.661);
    color: white;
}
.facebook-btn{
    background-color: rgba(0, 0, 255, 0.661);
    color: white;
}
.github-btn{
    background-color: rgba(15, 15, 17, 0.766);
    color: white;
}