@import '../../../SASS/variables';

.navbar.navbar-expand-lg {
    background-color: $my-Indigo !important;
    .nav-link.active.fw-bold {
        color: white;
        &:hover {
            color: #dc3545 !important;
        }
    }
}
.nav-item.dropdown {
    a {
        color: white;
        font-weight: 700;
        &:hover {
            color: #dc3545;
        }
    }
    .nav-item{
        .nav-link.active{
            color: $my-Secondary !important;
            padding-left: 5px;
        }
    }
}

.nav-container {
    z-index: 1;
    width: 100%;
}
.nav-link.active.fw-bold {
    &:hover {
        color: #dc3545;
    }
}

.nav-item.dropdown {
    a {
        font-weight: 700;
        &:hover {
            color: #dc3545;
        }
    }
}
